/* footer_style.css */

/* Resetting margins and paddings */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures footer stays at the bottom */
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; /* Adjusted for demonstration */
    background-color: #F9FAFB; /* Fixed background color */
    font-size: 16px;
    color: #333;
    width: 100%; /* Ensure footer is full width */
    box-sizing: border-box; /* Padding is included in the width */
}
.footer > div:first-child {
    margin-left: -20px;
    padding-left: 0; /* Reducing or eliminating left padding if it's causing the shift */
}
.footer div, .footer a {
    margin: 0 5px;
}
.footer div {
    text-align: left;
}
.footer a {
    color: #333;
    transition: color 0.3s ease;
}
.footer a:hover {
    color: #50AF31;
}
.github-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.github-icon a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: none;
    text-decoration: none !important; /* Removes underline */
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.github-icon i {
    font-size: 24px;
}
.github-icon a:hover, .github-icon a:focus {
    background-color: #50AF31;
    transform: scale(1.1);
    text-decoration: none; /* Removes underline */
}
.github-icon a, .github-icon a:hover, .github-icon a:active, .github-icon a:visited {
    text-decoration: none;
}
.build-version {
    margin-top: 8px; /* Adjust spacing between the icon and the text as needed */
    color: white; /* Adjust text color as needed */
    font-size: 12px; /* Adjust font size as needed */
}
